.ContactPage {
    .contact-section-main {
        margin-top: 2.5rem;
        display: flex;

        .map-section {
            height: 100%;
            padding: 1rem;
            background-color: #191d2b;
            border-radius: 10px;

            iframe {
                @media screen and (max-width: 1380px) {
                    width: 100%;
                }
            }
        }

        .contact-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 1380px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
                margin-top: 1rem;
            }

            @media screen and (max-width: 915px) {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (max-width: 1380px) {
            flex-direction: column;
        }
    }
}

.ContactItem {
    margin: 0 1rem;

    .contact {
        background-color: #191d2b;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border-left: 1px solid #2e344e;
        border-top: 8px solid #2e344e;
        border-right: 1px solid #2e344e;
        border-bottom: 1px solid #2e344e;
        transition: all 0.4s ease-in-out;

        &:hover {
            border-top: 8px solid #037fff;
        }

        img {
            margin-left: 0.5rem;
            border: 1px solid #2e344e;
            border-radius: 5px;
        }

        .right-items {
            margin: 2rem;

            h6 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            p {
                font-size: 1rem;
                padding-top: 0.5rem;
            }
        }
    }

    @media screen and (max-width: 1380px) {
        margin: 0;
    }
}
